@font-face {
  font-family: Font;
  src: local("Font"), url(../assets/Font.otf);
  font-weight: 400; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Light.ttf");
  src: local("../assets/Neue Haas Unica Light"), local("NeueHaasUnica-Light"), url("../assets/NeueHaasUnica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Regular.ttf");
  src: local("../assets/Neue Haas Unica Regular"), local("NeueHaasUnica-Regular"), url("../assets/NeueHaasUnica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Bold.ttf");
  src: local("../assets/Neue Haas Unica Bold"), local("NeueHaasUnica-Bold"), url("../assets/NeueHaasUnica-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

footer {
  border-top: 1px solid black; }
  footer .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 120px 0; }
    @media only screen and (max-width: 799px) {
      footer .container {
        padding: 80px 0; } }
    footer .container h1 {
      margin-bottom: 16px; }
      @media only screen and (max-width: 799px) {
        footer .container h1 br {
          display: none; } }
    footer .container > a:first-of-type {
      text-decoration: underline;
      margin: 24px 0 56px 0; }
    footer .container .logo {
      margin: 0 auto; }
