@font-face {
  font-family: Font;
  src: local("Font"), url(../assets/Font.otf);
  font-weight: 400; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Light.ttf");
  src: local("../assets/Neue Haas Unica Light"), local("NeueHaasUnica-Light"), url("../assets/NeueHaasUnica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Regular.ttf");
  src: local("../assets/Neue Haas Unica Regular"), local("NeueHaasUnica-Regular"), url("../assets/NeueHaasUnica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Bold.ttf");
  src: local("../assets/Neue Haas Unica Bold"), local("NeueHaasUnica-Bold"), url("../assets/NeueHaasUnica-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

#header {
  position: relative;
  width: 100%;
  display: block;
  z-index: 10;
  box-sizing: border-box;
  border-bottom: 1px solid black; }
  #header .nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    z-index: 601;
    padding: 40px; }
    #header .nav a {
      font-size: 0.8rem;
      text-decoration: none; }
      #header .nav a:not(:first-of-type) {
        margin-left: 32px; }
        @media only screen and (max-width: 799px) {
          #header .nav a:not(:first-of-type) {
            margin-left: 24px; } }
      #header .nav a:last-of-type svg {
        vertical-align: middle;
        height: 14px;
        width: 14px; }
