/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@font-face {
  font-family: Font;
  src: local("Font"), url(../assets/Font.otf);
  font-weight: 400; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Light.ttf");
  src: local("../assets/Neue Haas Unica Light"), local("NeueHaasUnica-Light"), url("../assets/NeueHaasUnica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Regular.ttf");
  src: local("../assets/Neue Haas Unica Regular"), local("NeueHaasUnica-Regular"), url("../assets/NeueHaasUnica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Bold.ttf");
  src: local("../assets/Neue Haas Unica Bold"), local("NeueHaasUnica-Bold"), url("../assets/NeueHaasUnica-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: Font;
  src: local("Font"), url(../assets/Font.otf);
  font-weight: 400; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Light.ttf");
  src: local("../assets/Neue Haas Unica Light"), local("NeueHaasUnica-Light"), url("../assets/NeueHaasUnica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Regular.ttf");
  src: local("../assets/Neue Haas Unica Regular"), local("NeueHaasUnica-Regular"), url("../assets/NeueHaasUnica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Bold.ttf");
  src: local("../assets/Neue Haas Unica Bold"), local("NeueHaasUnica-Bold"), url("../assets/NeueHaasUnica-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

#header {
  position: relative;
  width: 100%;
  display: block;
  z-index: 10;
  box-sizing: border-box;
  border-bottom: 1px solid black; }
  #header .nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    z-index: 601;
    padding: 40px; }
    #header .nav a {
      font-size: 0.8rem;
      text-decoration: none; }
      #header .nav a:not(:first-of-type) {
        margin-left: 32px; }
        @media only screen and (max-width: 799px) {
          #header .nav a:not(:first-of-type) {
            margin-left: 24px; } }
      #header .nav a:last-of-type svg {
        vertical-align: middle;
        height: 14px;
        width: 14px; }

@font-face {
  font-family: Font;
  src: local("Font"), url(../assets/Font.otf);
  font-weight: 400; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Light.ttf");
  src: local("../assets/Neue Haas Unica Light"), local("NeueHaasUnica-Light"), url("../assets/NeueHaasUnica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Regular.ttf");
  src: local("../assets/Neue Haas Unica Regular"), local("NeueHaasUnica-Regular"), url("../assets/NeueHaasUnica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Neue Haas Unica';
  src: url("../assets/NeueHaasUnica-Bold.ttf");
  src: local("../assets/Neue Haas Unica Bold"), local("NeueHaasUnica-Bold"), url("../assets/NeueHaasUnica-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

footer {
  border-top: 1px solid black; }
  footer .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 120px 0; }
    @media only screen and (max-width: 799px) {
      footer .container {
        padding: 80px 0; } }
    footer .container h1 {
      margin-bottom: 16px; }
      @media only screen and (max-width: 799px) {
        footer .container h1 br {
          display: none; } }
    footer .container > a:first-of-type {
      text-decoration: underline;
      margin: 24px 0 56px 0; }
    footer .container .logo {
      margin: 0 auto; }

html {
  height: -webkit-fill-available; }

body {
  margin: 0;
  font-size: 1rem;
  background-color: #F7F7F8;
  min-height: 100vh;
  min-height: -webkit-fill-available; }
  body.overflow {
    overflow: hidden; }

h1, h2, h3 {
  margin: 0; }

h1 {
  font-size: 80px;
  line-height: 1.3;
  font-weight: 600; }
  @media only screen and (max-width: 799px) {
    h1 {
      font-size: 1.7rem; } }

.light {
  font-weight: 100; }

.title {
  width: 100%;
  padding-bottom: 40px;
  padding-left: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid black;
  box-sizing: border-box; }

h1, h2, h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5; }

h2 {
  font-size: 40px;
  font-weight: 700; }

h3 {
  margin-bottom: 8px;
  font-size: 27px;
  font-weight: 500;
  letter-spacing: 0.7px; }

p {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  margin: 0;
  letter-spacing: 0.4px; }
  @media only screen and (max-width: 799px) {
    p {
      font-size: 0.9rem; } }

a {
  font-family: 'Inconsolata', monospace;
  text-decoration: underline;
  color: black;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer; }
  @media only screen and (max-width: 799px) {
    a {
      font-size: 0.9rem; } }

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: none; }

img {
  width: auto;
  height: 100%;
  display: block; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none;
    font-weight: 200;
    font-variation-settings: 'wght' 200; }

svg.icon_32 {
  width: 32px;
  height: 32px; }
  @media only screen and (max-width: 799px) {
    svg.icon_32 {
      width: 24px;
      height: 24px; } }

.btn-back {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  font-family: "Font", sans-serif;
  font-weight: 500;
  color: #B3B3B3;
  transition: color 0.2s ease-in-out; }
  .btn-back:hover {
    color: #FD633F; }
  .btn-back svg {
    fill: #FD633F;
    margin-right: 24px;
    margin-bottom: 3px; }

img {
  width: 100%;
  height: auto; }

main, footer {
  transition: all .7s ease; }
  main.active, footer.active {
    -webkit-filter: blur(0px) invert(0);
    filter: blur(20px) invert(0); }

.logo {
  display: block;
  margin-right: auto;
  margin-left: 0; }
  .logo img {
    display: block;
    width: auto;
    height: 32px; }
    @media only screen and (max-width: 799px) {
      .logo img {
        height: 20px; } }

#project,
.container,
#footer {
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box; }
  @media only screen and (max-width: 799px) {
    #project,
    .container,
    #footer {
      padding-left: 32px;
      padding-right: 32px; } }

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding-bottom: 120px;
  padding-top: 120px; }
  @media only screen and (max-width: 799px) {
    .container {
      padding: 80px 32px; } }

.row {
  display: flex;
  flex-wrap: nowrap; }

.row::after {
  content: "";
  clear: both;
  display: table; }

.col-1 {
  width: calc(8.33% - 40px); }

.col-2 {
  width: calc(16.66% - 40px); }

.col-3 {
  width: calc(25% - 40px); }

.col-4 {
  width: calc(33.33% - 40px); }
  @media only screen and (max-width: 799px) {
    .col-4 {
      width: 100%; } }

.col-5 {
  width: calc(41.66% - 40px); }

.col-6 {
  width: calc(50% - 40px); }

.col-7 {
  width: calc(58.33% - 40px); }

.col-8 {
  width: calc(66.66% - 40px); }

.col-9 {
  width: calc(75% - 40px); }

.col-10 {
  width: calc(83.33% - 40px); }

.col-11 {
  width: calc(91.66% - 40px); }

.col-12 {
  width: calc(100% - 40px); }

[class*="col-"] {
  box-sizing: border-box; }

#main .projects .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 96px; }
  @media only screen and (max-width: 799px) {
    #main .projects .container .row h3 {
      margin-bottom: 8px; } }
  #main .projects .container .row a {
    width: calc(66.66% - 40px);
    margin-left: auto;
    display: block;
    text-decoration: none; }
    @media only screen and (max-width: 799px) {
      #main .projects .container .row a {
        width: 100%;
        margin-top: 32px; } }

#project {
  max-width: 1240px;
  padding-top: 80px; }
  #project .project_description {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between; }
    #project .project_description a, #project .project_description h2, #project .project_description p {
      width: 100%; }
    #project .project_description a {
      text-decoration: none; }
    #project .project_description h2, #project .project_description p {
      width: 66.66%;
      margin: 32px 0 16px 0;
      display: block; }
      @media only screen and (max-width: 799px) {
        #project .project_description h2, #project .project_description p {
          width: 100%;
          margin-bottom: 8px; } }
    #project .project_description p {
      float: right; }
      @media only screen and (max-width: 799px) {
        #project .project_description p {
          margin: 8px 0 32px 0; } }
    #project .project_description img:first-of-type {
      margin-top: 64px; }
    #project .project_description img:not(:last-of-type) {
      margin-bottom: 80px; }
      @media only screen and (max-width: 799px) {
        #project .project_description img:not(:last-of-type) {
          margin-bottom: 16px; } }
    #project .project_description img.half {
      width: calc(50% - 40px); }
      @media only screen and (max-width: 799px) {
        #project .project_description img.half {
          width: calc(50% - 16px); } }
  #project .next-project {
    padding: 80px 0;
    display: block;
    text-decoration: none; }
    #project .next-project h2 {
      margin-bottom: 16px; }

.photo {
  padding: 80px 0; }
  .photo .container {
    display: flex; }
    @media only screen and (max-width: 799px) {
      .photo .container {
        padding-top: 160px;
        flex-wrap: wrap; } }
    .photo .container .flex {
      width: 33.333%;
      flex-direction: column; }
      @media only screen and (max-width: 799px) {
        .photo .container .flex {
          width: 100%; } }
      .photo .container .flex img {
        padding: 4px;
        box-sizing: border-box; }

.intro {
  height: 90vh;
  display: flex;
  align-items: center; }
  .intro h1 {
    line-height: 1.6; }
    @media only screen and (max-width: 799px) {
      .intro h1 {
        width: 100%; } }

.about .container .row {
  justify-content: space-between;
  padding-top: 56px; }
  @media only screen and (max-width: 799px) {
    .about .container .row {
      flex-wrap: wrap;
      padding-top: 32px; } }
  .about .container .row .col-7 > p:first-of-type,
  .about .container .row .col-5 > p:first-of-type {
    margin-bottom: 24px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px; }
  .about .container .row .col-7 h2 {
    margin-bottom: 24px;
    float: none; }
  .about .container .row .col-7 img {
    max-width: 206px;
    float: left;
    padding-right: 20px;
    filter: grayscale(1); }
  .about .container .row .col-5 {
    margin-left: auto; }
    .about .container .row .col-5 p, .about .container .row .col-5 a {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 1.2; }
      .about .container .row .col-5 p:last-of-type, .about .container .row .col-5 a:last-of-type {
        margin-top: 32px; }
    .about .container .row .col-5 .list {
      column-count: 2; }
    @media only screen and (max-width: 799px) {
      .about .container .row .col-5 {
        width: 100%; }
        .about .container .row .col-5:last-of-type {
          padding-bottom: 0; } }
