footer {
    // border-top: $border;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(10, 10, 10);

    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: -10px;
        width: 100%;
        height: 100%;
        background-image: url(../assets/pattern01.svg);
        background-size: 13%;

        @include media('mobile') {
            background-size: 35%;
        }
    }
    
    .container {
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 240px 0 120px 0;
        
        @include media('mobile') {
            padding: 80px 0;
        }

        h1,h3 {
            color:white;
        }

        .logo {
            img {
                width: 24px;
                height: 24px;
            }
        }
        
        h1 {
            margin-bottom: 16px;
            
            br {
                @include media('mobile') {
                    display: none;
                }
            }
        }

        h3 {
            margin-bottom: 32px;
        }
        
        > a:last-of-type {
            position: relative;
            margin: 34px 0 0 0;
            display: inline-block;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 10px;
            padding: 20px 56px;
            border: 2px solid white;
            z-index: 10;
            
            @include media('mobile') {
                margin-left: 10px;
            }

            &:hover {
                opacity: 1;
                &::before {
                    right: 0;
                    bottom: 0;
                }
            }
            
            &::before {
                content: 'Contact me';
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 10px;
                bottom: 10px;
                width: 100%;
                height: 100%;
                color: white;
                background-color: #6a0bf0;
                z-index: 1;
                transition: all .3s ease-in-out;
            }
        }
    }
}