footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 80px 0;
	border-top: 1px solid #ccc;

	h1 {
		margin-bottom: 32px;
		
		br {
			@include media('mobile') {
				display: none;
			}
		}
	}
	
	> a:first-of-type {
		text-decoration: underline;
		margin-bottom: 80px;
	}
}