footer {
    border-top: $border;
    background-color: #fff;
    
    .container {
        display: flex;
        flex-direction: column;
        // text-align: center;
        padding: 120px 0;
        
        @include media('mobile') {
            padding: 80px 0;
        }

        h1,h3,a {
            color:black;
        }

        .logo {
            svg {
                width: 32px;
                height: 32px;
                
                path {
                    stroke: black;
                }
            }
        }
        
        h1 {
            margin-bottom: 16px;
            
            br {
                @include media('mobile') {
                    display: none;
                }
            }
        }
        
        > a:first-of-type {
            text-decoration: underline;
            margin: 24px 0 56px 0;
        }
    }
}