footer {
    // border-top: $border;
    position: relative;
    // bottom: 0;
    // left: 0;
    width: 100%;
    
    .container {
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 180px 0 0 0;
        border-top: 1px solid black;
        
        @include media('mobile') {
            padding: 80px 0 0 0;
        }

        h2 {
            margin-bottom: 16px;
            
            @include media('mobile') {
                margin-bottom: 32px;
                line-height: 1.4;
            }
        }
            
        .footer_bottom {
            width: 100%;
            padding: 180px 0 40px 0;
            display: flex;

            @include media('mobile') {
                padding: 80px 0 40px 0;
            }

            p {
                display: inline-block;
                font-size: 12px;
            }
            
            .col-8 {
                display: inline-flex;
                justify-content: space-between;

                @include media('mobile') {
                    width: auto;
                    svg {
                        margin-right: 32px;
                    }
                }
            }
        }
        .col-8 {
            margin-left: auto;
            
            @include media('mobile') {
                width: 100%;
            }
        }
        
        svg {
            width: 16px;
            height: 16px;
            path {
                fill: black!important;
            }
        }
        
        h1 {
            margin-bottom: 16px;
            
            br {
                @include media('mobile') {
                    display: none;
                }
            }
        }
    }

    h4 {
        margin-bottom: 0;
        line-height: 1.3;
        
        a {
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 0.4px;
            margin: 0;
            display: inline-block;
        }
    }
}