@import 'variables';
#header {
    position: relative;
    width: 100%;
    display: block;
    z-index: 10;
    box-sizing: border-box;
    border-bottom: $border;
    
    .nav {
        display: flex;
        align-items: center;
        margin: 0 auto;
        z-index: 601;
        padding: 40px;
        
        a {
            font-size: 0.8rem;
            text-decoration: none;
            
            &:not(:first-of-type) {
                margin-left: 32px;
                
                @include media('mobile') {
                    margin-left: 24px;
                }
            }

            &:last-of-type {
                svg {
                    vertical-align: middle;
                    height: 14px;
                    width: 14px;
                }
            }
        }
    }
}