@import 'variables';
#header {
    position: fixed;
    width: 100%;
    display: block;
    z-index: 10;
    box-sizing: border-box;
    // border-bottom: $border;
    
    .nav {
        display: flex;
        align-items: center;
        margin: 0 auto;
        z-index: 601;
        padding: 24px 40px;

        @include media('mobile') {
            padding: 32px 32px;
        }
        
        a {
            font-size: 1rem;
            text-decoration: none;

            @include media('mobile') {
                font-size: 14px;
            }
            
            &:not(:first-of-type) {
                margin-left: 32px;
                
                @include media('mobile') {
                    margin-left: 24px;
                }
            }

            &:last-of-type {
                svg {
                    vertical-align: middle;
                    height: 14px;
                    width: 14px;
                }
            }
        }
    }
}