@import 'variables';
@import 'header';
@import 'footer';

html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
//   background-color: #121212;
}
// *{
//     color: white;
// }
#inner-scrollbar {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
body {
    margin: 0;
    font-size: 1rem;
    // background-color: #c7c7c7;
    // overflow: hidden;

    min-height: 100vh;
    min-height: -webkit-fill-available;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: url(../assets/cursor-arrow.svg), auto;

    &.overflow {
        overflow: hidden;
    }

    &, * {
        cursor: none;
    }
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}

h1 {
    font-size: 80px;
    line-height: 1.3;
    font-weight: 600;
    
    @include media('mobile') {
        font-size: 1.7rem;
    }
}

.light {
    font-weight: 100;
}
.title {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    padding-top: 120px;
    line-height: 1;
}
h2,h3 {
    line-height: 1.7;
}
h2 {
    font-size: 40px;
    font-weight: 400;
}
h3 {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.4px;
}

p {
    font-family: $Neue;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.1px;
}

a {
    font-family: $Neue;
    text-decoration: underline;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    transition: opacity .3s ease;

    &:hover {
        opacity: 0.6;
    }
    &:visited {
        color: black;
    }
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    
    li {
        list-style-type: none;
        font-weight: 200;
        font-variation-settings: 'wght' 200;
    }
}

svg.icon_32 {
    width: 32px;
    height: 32px;

    @include media('mobile') {
        width: 24px;
        height: 24px;
    }
}

.btn-back {
	display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    font-family: $font;
    font-weight: 500;
    color: #B3B3B3;
	transition: color 0.2s ease-in-out;
    
	&:hover {
        color: #FD633F;
	}
	
	svg {
        fill: #FD633F;
		margin-right: 24px;
        margin-bottom: 3px;
	}
}

main, footer {
    transition: all .7s ease;
    
    &.active {
        -webkit-filter: blur(0px) invert(0);
        filter: blur(20px) invert(0);
    }
}

.logo {
    display: block;
    margin-right: auto;
    margin-left: 0;
    
    img {
        display: block;
        width: auto;
        height: 32px;
    }
}
// #header,
.container,
#footer {
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;

    @include media('mobile') {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.container {
    max-width: 1440px;
}
.container-wide {
    max-width: calc(100% - 80px);
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 64px 0;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
}
.col-1 {width: calc(8.33% - 40px);}
.col-2 {width: calc(16.66% - 40px);}
.col-3 {width: calc(25% - 40px);}
.col-4 {
    width: calc(33.33% - 40px);

    @include media('mobile') {
        width: 100%;
    }
}
.col-5 {width: calc(41.66% - 40px);}
.col-6 {width: calc(50% - 40px);}
.col-7 {
    width: calc(58.33% - 40px);

    @include media('mobile') {
        width: 100%;
    }
}
.col-8 {width: calc(66.66% - 40px);}
.col-9 {width: calc(75% - 40px);}
.col-10 {
    width: calc(83.33% - 40px);

    @include media('mobile') {
        width: 100%;
    }
}
.col-11 {width: calc(91.66% - 40px);}
.col-12 {width: calc(100% - 40px);}

[class*="col-"] {
    box-sizing: border-box;
}

#main {
    .projects {
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            .col-8 {
                @include media('mobile') {
                    width: 100%;
                }
                
                .column {
                    &:not(:last-of-type) {
                        padding-bottom: 56px;
                    }

                    h3 {
                        margin-bottom: 8px;
                        // font-family: "Neue Haas Unica", sans-serif;
                        font-size: 20px;
                    }
                    
                    p {
                        color: #969696;
                    }
        
                    a {
                        display: block;
                        margin-bottom: 24px;
                    }
                }
            }
        }

    }
}

.dd {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}
#project {
    .project_description {
        position: relative;
        padding: 280px 0 200px 0;
        z-index: 1;
        
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            
            a, h2, p {
                width: 100%;
            }
        
            a {
                text-decoration: none;
            }
        
            h2 {
                margin: 32px 0 16px 0;
            }
            
            h2, p {
                width: 66.66%;
                display: block;
                
                @include media('mobile') {
                    width: 100%;
                    margin-bottom: 8px;
                }
            }
        
            p {
                @include media('mobile') {
                    margin: 8px 0 32px 0;
                }
            }
        }
    }

    .project_gallery {
        .container-wide {

            > img {
                position: relative;
                box-sizing: border-box;
                z-index: 1;
                margin-top: 64px;
                
                &:not(.inlineImg) {
                    padding: 120px;
                    background-color: #f6f6f6;
                }
                
                @include media('mobile') {
                    padding: 20px;
                    margin-bottom: 16px;
                }
        
                &.inlineImg {
                    width: calc(50% - 32px);
                    display: inline-block;
                    
                    @include media('mobile') {
                        width: calc(50% - 16px);
                    }
                }
            }
        }
        
        .deviceBlock {
            width: 100%;
            // background-color: #EDEBDE;
            // background-color: #FABF3C;
            // background-color: #1F4136;
            margin: 64px 0;

            &_inner {
                padding: 64px 200px;
                
                img {
                    border-radius: 16px;
                    border: 3px solid rgb(36, 36, 36);
                }
            }
        }

        p:last-of-type {
            padding-top: 132px;
            text-align: center;
        }
        a {
            @extend h1;
            display: block;
            padding: 0 0 132px 0;
            text-align: center;
            font-weight: 300;
            text-decoration: none;
        }
    }    
}

.sensilia {
    .project_gallery {
        .deviceBlock {
            &:nth-of-type(1) {
                background-color: #EEF0F8;
            }
            &:nth-of-type(2) {
                background-color: #120D42;
                background-color: #D1D0CA;
            }
        }
    }
}

.cosmos {
    .project_gallery .container-wide img {
        padding: 0!important;
    }
}

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    background: url(../assets/cursor-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;

    @include media('tablet') {
        display: none;
    }

    &.cursor-hand {
        background: url(../assets/cursor-hand.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    mix-blend-mode: exclusion;
    .hover {
        position: absolute;
        width: auto;
        height: 300px;
        transform-origin: center center;
        opacity: 0;
        filter: invert(1);
    }
}

a, .menu_link, .btn {
    cursor: none;
}

.photo {
    padding: 80px 0;
    
    .container {
        display: flex;

        @include media('mobile') {
            padding-top: 160px;
            flex-wrap: wrap;
        }
        
        .flex {
            width: 33.333%;
            flex-direction: column;
        
            @include media('mobile') {
                width: 100%;
            }

            img {
                padding: 4px;
                box-sizing: border-box;
            }
        }
    }
}

.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #ccc;

    img {
        width: 90%;
        margin: auto;
    }
    
    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: -113px;
    //     left: 0;
    //     width: 100%;
    //     height: 130%;
    //     z-index: -1;
    //     // background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    //     background-image: url(../assets/backgrounds/6.jpg);
    //     // background-image: linear-gradient(to right, #9795f0 0%, #fbc8d4 100%);
    //     // background-image: linear-gradient(to right, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    //     // background-image: linear-gradient(to top left, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    //     background-repeat: no-repeat;
    //     background-position: center center;
    //     background-size: cover;
    // }

    h1 {
        line-height: 1.6;
        font-size: 120px;
        font-weight: 400;

        @include media('mobile') {
            width: 100%;
        }
    }
}

.about {
    .container {
        .row {
            justify-content: space-between;
            
            @include media('mobile') {
                flex-wrap: wrap;
            }

            &:nth-of-type(2) {
                // margin-top: 56px;

                .col-4 p {
                    @include media('mobile') {
                        margin-top: 56px;
                    }
                }
            }
            
            .col-8 {
                @include media('mobile') {
                    width: 100%;
                }
                
                h3 {
                    &:first-of-type {
                        margin-bottom: 32px;
                    }
                }

                ul.list {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding-bottom: 32px;

                    @include media('mobile') {
                        padding-bottom: 40px;
                    }
                    
                    li {
                        list-style-type: none;
                        width: 50%;
                        
                        p {
                            &:first-of-type {
                                margin-bottom: 16px;
                            }
                            &:not(:first-of-type) {
                                color: #969696;
                            }
                        }
                    }
                }

                > a {
                    margin-right: 24px;
                }
            }
        }
    }
}
