@import 'reset';
@import 'variables';
@import 'header';
@import 'footer';

html {
  height: -webkit-fill-available;
}

body {
    margin: 0;
    font-size: 1rem;
    // background-color: #c7c7c7;

    min-height: 100vh;
    min-height: -webkit-fill-available;

    &.overflow {
        overflow: hidden;
    }
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
}

h1 {
    font-size: 80px;
    line-height: 1.3;
    font-weight: 600;
    
    @include media('mobile') {
        font-size: 1.7rem;
    }
}

.light {
    font-weight: 100;
}
.title {
    width: 100%;
    padding: 40px;
    border-bottom: $border;
    box-sizing: border-box;
    padding-top: 120px;
}
h2,h3 {
    line-height: 1.5;
}
h2 {
    font-size: 40px;
    font-weight: 700;
}
h3 {
    margin-bottom: 8px;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

p {
    font-family: $Neue;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.4px;
    
    @include media('mobile') {
        font-size: 0.9rem;
    }
}

a {
    font-family: $Neue;
    text-decoration: underline;
    color: black;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;

    @include media('mobile') {
        font-size: 0.9rem;
    }
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    
    li {
        list-style-type: none;
        font-weight: 200;
        font-variation-settings: 'wght' 200;
    }
}

svg.icon_32 {
    width: 32px;
    height: 32px;

    @include media('mobile') {
        width: 24px;
        height: 24px;
    }
}

.btn-back {
	display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    font-family: $font;
    font-weight: 500;
    color: #B3B3B3;
	transition: color 0.2s ease-in-out;
    
	&:hover {
        color: #FD633F;
	}
	
	svg {
        fill: #FD633F;
		margin-right: 24px;
        margin-bottom: 3px;
	}
}

main, footer {
    transition: all .7s ease;
    
    &.active {
        -webkit-filter: blur(0px) invert(0);
        filter: blur(20px) invert(0);
    }
}

.logo {
    display: block;
    margin-right: auto;
    margin-left: 0;
    
    img {
        display: block;
        width: auto;
        height: 32px;

        @include media('mobile') {
            height: 20px;
        }
    }
}
#project,
// #header,
.container,
#footer {
    width: 100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;

    @include media('mobile') {
        padding-left: 32px;
        padding-right: 32px;
    }
}
.container {
    margin: 0 auto;
    max-width: 1240px;
    padding-bottom: 120px;
    padding-top: 120px;

    @include media('mobile') {
        padding: 80px 32px;
    }
}

.row {
    display: flex;
    flex-wrap: nowrap;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-1 {width: calc(8.33% - 40px);}
.col-2 {width: calc(16.66% - 40px);}
.col-3 {width: calc(25% - 40px);}
.col-4 {
    width: calc(33.33% - 40px);

    @include media('mobile') {
        width: 100%;
    }
}
.col-5 {width: calc(41.66% - 40px);}
.col-6 {width: calc(50% - 40px);}
.col-7 {width: calc(58.33% - 40px);}
.col-8 {width: calc(66.66% - 40px);}
.col-9 {width: calc(75% - 40px);}
.col-10 {width: calc(83.33% - 40px);}
.col-11 {width: calc(91.66% - 40px);}
.col-12 {width: calc(100% - 40px);}

[class*="col-"] {
    box-sizing: border-box;
}

#main {
    .projects {
        // background-color: #F7F7F8;
        .container {
            .row {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-bottom: 96px;
                
                &:last-of-type {
                    padding-bottom: 0;
                }

                h3 {
                    @include media('mobile') {
                        margin-bottom: 8px;
                    }
                }
    
                a {
                    width: calc(66.66% - 40px);
                    margin-left: auto;
                    display: block;
                    text-decoration: none;
    
                    @include media('mobile') {
                        width: 100%;
                        margin-top: 32px;
                    }
                }
            }
        }
    }
}

#project {
    max-width: 1240px;
    padding-top: 80px;

    .project_description {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        a, h2, p {
            width: 100%;
        }

        a {
            text-decoration: none;
        }
        
        h2, p {
            width: 66.66%;
            margin: 32px 0 16px 0;
            display: block;
            
            @include media('mobile') {
                width: 100%;
                margin-bottom: 8px;
            }
        }

        p {
            float: right;
            @include media('mobile') {
                margin: 8px 0 32px 0;
            }
        }

        img {
            &:first-of-type {
                margin-top: 64px;
            }
            
            &:not(:last-of-type) {
                margin-bottom: 80px;

                @include media('mobile') {
                    margin-bottom: 16px;
                }
            }

            &.half {
                width: calc(50% - 40px);
                
                @include media('mobile') {
                    width: calc(50% - 16px);
                }
            }
        }
    }
    
    .next-project {
        padding: 80px 0;
        display: block;
        text-decoration: none;
        
        h2 {
            margin-bottom: 16px;
        }
    }
}

.photo {
    padding: 80px 0;
    
    .container {
        display: flex;

        @include media('mobile') {
            padding-top: 160px;
            flex-wrap: wrap;
        }
        
        .flex {
            width: 33.333%;
            flex-direction: column;
        
            @include media('mobile') {
                width: 100%;
            }

            img {
                padding: 4px;
                box-sizing: border-box;
            }
        }
    }
}

.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #ccc;

    img {
        width: 90%;
        margin: auto;
    }
    
    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: -113px;
    //     left: 0;
    //     width: 100%;
    //     height: 130%;
    //     z-index: -1;
    //     // background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    //     background-image: url(../assets/backgrounds/6.jpg);
    //     // background-image: linear-gradient(to right, #9795f0 0%, #fbc8d4 100%);
    //     // background-image: linear-gradient(to right, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    //     // background-image: linear-gradient(to top left, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    //     background-repeat: no-repeat;
    //     background-position: center center;
    //     background-size: cover;
    // }

    h1 {
        line-height: 1.6;
        font-size: 120px;
        font-weight: 400;

        @include media('mobile') {
            width: 100%;
        }
    }
}

.about {
    .container {
        .row {
            justify-content: space-between;
            padding-top: 56px;
            
            @include media('mobile') {
                flex-wrap: wrap;
                padding-top: 32px;
            }
            
            .col-7,
            .col-5 {
                > p:first-of-type {
                    margin-bottom: 24px;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 1px;
                }
            }

            .col-7 {
                h2 {
                    margin-bottom: 24px;
                    float: none;
                }

                img {
                    max-width: 206px;
                    float: left;
                    padding-right: 20px;
                    // padding-bottom: 20px;
                    filter: grayscale(1);
                }
            }

            .col-5 {
                margin-left: auto;

                .list {          
                    column-count: 2;

                    p {
                        line-height: 1.7;
                        margin-bottom: 12px;
                        font-size: 14px;
                        &:last-of-type {
                            margin-top: 32px;
                        }
                    }
                }
    
                @include media('mobile') {
                    width: 100%;
    
                    &:last-of-type {
                        padding-bottom: 0;
                    }
                }
    
            }
        }
    }
}